.border {
    border-width: 1px;
}
.border-components-input-border-hover {
    border-color: #d0d5dc;
}
.bg-components-input-bg-hover{
    background-color: #c8ceda24;
}
.rounded-lg{
    border-radius: 0.5rem;
}
.relative {
    position: relative;
}